.comments {
  @extend %clearfix;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ol {
    padding: 0;
    list-style: none;
  }
  li {
    margin: 0 0 $spacing;
    padding-top: $spacing;
    border: none;
    li {
      padding-top: 0;
    }
  }
  .children {

    @include breakpoint(medium) {
      padding-left: $spacing;
      border-left: thick solid $accent-color;
    }
  }
  .children .children {
    border: none;
    padding: 0;
  }
}

.comment {
  .url {
  }
}
.bypostauthor {
 }
.avatar {
  float: left;
  margin: 0 $spacing-alpha $spacing-beta 0;
  border: thick solid $accent-color;
}
.comment-author {
  font-weight: bold;
}
.comment-meta {
}
.comment-content {
  clear: both;
  a {
    border-bottom: thin dotted $accent-color;
  }
}
.comment-replylink {
  text-align: right;
  a {
    padding: $spacing-alpha;
  }
}
.comment-respond {
  @extend %clearfix;
}
.comment-notes {
  @extend %visuallyhidden;
}
.pings {
  margin-bottom: $spacing;
  .comment-author {
    font-weight: normal;
  }
  .comment-content {
    @extend %visuallyhidden;
  }
}
.comment-reply-title {
  position: relative;
}
[id="cancel-comment-reply-link"] {
  float: right;
  font-weight: normal;
}
.form-section {
  input {
    width: 100%;
    margin: 0 0 $spacing;
  }
  textarea {
    width: 100%;
  }
}
[id="form-allowed-tags"] {
  @extend %visuallyhidden;
}
.form-submit {
  padding: $spacing 0 0;
  text-align: right;
}